<%- model_class = Channel -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="jumbotron">
  <h1><%= @channel.name %></h1>
  <p><%= @channel.description %></p>
  <p><h4><%= pluralize(@channel.subscriber.count, "Subscriber")%></h4></p>
  <p>
    <% if current_user %>
    <% if @channel.following?(current_user) %>
      <%= link_to "Unsubscribe", unfollow_path, class: "btn btn-danger"  %>
    <% else %>
      <%= link_to "Subscribe", follow_path, class: "btn btn-success"  %>
    <% end %>
  <% end %></p>
</div>
<div class="row">
  <% if channel_of_current_user?(@channel) %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_channel_path(@channel), :class => 'btn btn-default pull-right' %>
      <%= link_to 'Add Course', new_channel_course_path(@channel), :class => 'btn btn-primary pull-right' %>
  <% end %>
</div>

<h2>Courses</h2>
<hr/>
<% if @channel.courses.any? %>
  <%= render @courses %>
<% end %>
<%= will_paginate @courses %> <br\>
<%= link_to t('.back', :default => t("helpers.links.back")),
              channels_path, :class => 'btn btn-default'  %>
