<div class="page-header">
  <h1><%=t '.title', :default => "Welcome to VideoPortal" %></h1>
</div>
<% if !@videos.empty? %>
<center>
    <h1> Most Popular Videos </h1>
<table>

<% @videos.each_slice(5) do |slice| %>
  <tr>
    <% slice.each do |video| %>
    <td>
       <%= link_to image_tag(video.file.url(:thumb)), video_path(video) %>
       <p >
         <dl class="text-center">
           <dt><%= video.name %></dt>
           <dd>by <%= video.user.username %></dd>
         </dl>
      </p>
    <td>
    <% end %>
  <tr>
<% end %>

</table>
</center>
<% end %>
<% if current_user %>
<h2>Your Subscriptions</h2>
<div class="list-group">
  <% current_user.subscriptions.each do |channel| %>
  <%= link_to channel.name, channel_path(channel), :class => "list-group-item" %>
  <% end %>
</div>
<% end %>
