<%- model_class = Video -%>
<div class="panel panel-default">
  <div class="panel-body">
    <h4><%= link_to video.name, video_path(video) %></h4>
    <p>
      <%= video.description %>
    </p>
    <p>Categories</p>
    <p><div class="row" id="videoinfo">
      <% video.categories.each do |category| %>
          <%= link_to category_path(category) do%>
            <span class="label label-default"><%= category.tag %></span>
          <% end %>
      <% end %>
    </div>
  </p>
  <%= render partial: "votes" %>
  </div>
</div>
