<%= form_tag("/search", method: "get", :class => "form-horizontal") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag :search, '', class: "form-control" %>
  <br>
  <h2>Select Categories</h2>
  <%= hidden_field_tag "category[category_ids][]", nil %>
  <%= select_tag :category_ids, options_from_collection_for_select(@categories, "id", "tag"), multiple: true, :class => "form-control" %>
  <%= submit_tag "Search", :class => "btn btn-submit"%>
<% end %>
<h2>Results</h2>
<ul class="list-group">
<% @videos.each do |video| %>
   <%= link_to video.name, video_path(video), :class => "list-group-item" %>
<% end %>


</ul>
