<%- model_class = Video -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<%= render @video %>
  <video id="videoplayer" width="640" height="360" src="<%=@video.file%>" type="video/mov"
	id="player1" %>"
	controls="controls" preload="none"></video>
  <script>
    $('audio,video').mediaelementplayer({
	     success: function(player, node) {
		   $('#' + node.id + '-mode').html('mode: ' + player.pluginType);
	    }
    });
</script>
<% if current_user %>
  <%= render :partial => 'comments/form' %>
<% end %>
<% if @video.comments.any? %>
  <% @video.comments.all.reverse.each do |comment| %>
    <%= render comment unless comment.new_record %>
  <% end %>
<% end %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              videos_path, :class => 'btn btn-default'  %>
<% if current_user && current_user == @video.user %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_video_path(@video), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                video_path(@video),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
<% end %>
