<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to course.name, channel_course_path(course.channel, course) %>
    <% if current_user && current_user.channel == @channel %>
      <%= link_to [course.channel, course], method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger pull-right" do %>
        <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      <%= link_to edit_channel_course_path(course.channel, course), :class => "btn btn pull-right" do %>
        <i class="glyphicon glyphicon-edit"></i>
      <% end %>
    <% end %>


  </div>
  <div class="panel-body">
    <%= course.description %>
    <br>
    <% course.videos.each do |video| %>
      <%= link_to image_tag(video.file.url :thumb), video_path(video) %>
      <h5><%= video.name %></h5>
    <% end %>
  </div>
</div>
