<div class="panel panel-default">
  <div class="panel-heading">
    <%= link_to course.name, channel_course_path(course.channel, course) %>
    <% if current_user && current_user.channel == @channel %>

      <%= link_to [course.channel, course], method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger pull-right" do %>
        <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      <%= link_to edit_channel_course_path(course.channel, course), :class => "btn btn pull-right" do %>
        <i class="glyphicon glyphicon-edit"></i>
      <% end %>
        <%= link_to new_video_path(channel_id: course.channel, course_id: course), class: "btn btn pull-right" do%>
          <i class="glyphicon glyphicon-plus"></i>
        <% end %>
    <% end %>

    <script> $(".owl-carousel").owlCarousel(); </script>
  </div>
  <div class="panel-body">
    <%= course.description %>
    <br>
    <hr>
    <div class="DocumentList">
        <div class="owl-carousel">
            <% course.videos.each do |video| %>
            <div>
                <span><%= link_to image_tag(video.file.url :thumb), video_path(video) %>
                <center><h5><%= video.name %></h5></center></span>
            </div>
            <% end %>
        </div>
    </div>
  </div>
</div>
