<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<%= link_to 'Edit', edit_channel_course_path(@channel, @course) %> |
<%= link_to 'Back', channel_courses_path(@channel) %>
