<%- model_class = Category -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:tag) %></th>
      <% if current_user && current_user.admin? %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.tag, category_path(category) %></td>
        <% if current_user && current_user.admin? %>
          <td>
            <%= link_to category_path(category), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @categories %><br \>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_category_path,
            :class => 'btn btn-primary' %>
